In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import svm

import warnings
warnings.filterwarnings('ignore')

In [66]:
data=pd.read_csv('HR_comma_sep.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [97]:
data["salary"][data["salary"]=="low"]=0
data["salary"][data["salary"]=="medium"]=1
data["salary"][data["salary"]=="high"]=2
'''
data["sales"][data["sales"]=="sales"]=0
data["sales"][data["sales"]=="accounting"]=1
data["sales"][data["sales"]=="hr"]=2
data["sales"][data["sales"]=="technical"]=3
data["sales"][data["sales"]=="support"]=4
data["sales"][data["sales"]=="IT"]=5
data["sales"][data["sales"]=="product_mng"]=6
data["sales"][data["sales"]=="marketing"]=7
data["sales"][data["sales"]=="management"]=8
data["sales"][data["sales"]=="RandD"]=9
'''
y=data["left"]
X=data[["satisfaction_level","last_evaluation","number_project","average_montly_hours","time_spend_company","Work_accident","promotion_last_5years","sales","salary"]]

In [98]:
#PCA on original data
pca = PCA(n_components='mle', svd_solver='full')
pca.fit(X)
print(pca.explained_variance_ratio_)

[  9.95399814e-01   3.00972370e-03   8.66115158e-04   4.72454311e-04
   1.60849531e-04   4.94994250e-05   2.41596926e-05   9.24689238e-06]

In [99]:
#Z-scaling the data
z_scaler = StandardScaler()
z_data = pd.DataFrame(z_scaler.fit_transform(X))
z_data.head()

,0,1,2,3,4,5,6,7,8
0,-0.936495,-1.087275,-1.462863,-0.882040,-0.341235,-0.411165,-0.147412,-1.189799,-0.933368
1,0.752814,0.840707,0.971113,1.220423,1.713436,-0.411165,-0.147412,-1.189799,0.636092
2,-2.022479,0.957554,2.593763,1.420657,0.343655,-0.411165,-0.147412,-1.189799,0.636092
3,0.431041,0.899131,0.971113,0.439508,1.028546,-0.411165,-0.147412,-1.189799,-0.933368
4,-0.976716,-1.145699,-1.462863,-0.841993,-0.341235,-0.411165,-0.147412,-1.189799,-0.933368

In [104]:
#PCA on Z-scaled data

pca = PCA(n_components='mle', svd_solver='full')
pca.fit(z_data)
print(pca.explained_variance_ratio_) 
pca_data=pd.DataFrame(pca.fit_transform(z_data))
print(pca_data.head())

[ 0.20338452  0.13262734  0.12406603  0.1095971   0.1067151   0.09897117
  0.09359689  0.07019398]
          0         1         2         3         4         5         6  \
0 -1.932684 -1.514154  0.664572  0.391279  0.694028  0.331033  0.058939
1  2.113563  0.123979 -0.167198 -0.215546  1.448008 -0.681982  1.110731
2  3.032676 -1.168744  1.285901  0.086027  0.790912 -0.925331 -1.345639
3  1.518812 -0.932271 -0.416552  0.249330  0.991858  0.413568  0.963055
4 -1.936827 -1.533103  0.708277  0.402484  0.686691  0.322590  0.028585

          7
0  0.027911
1 -0.541687
2  0.398774
3  0.062172
4 -0.027221

In [105]:
#Splitting into training and test sets

XNew=pca_data
X_train, X_test, y_train, y_test = train_test_split(XNew, y, test_size=0.33, random_state=42)
X_train.head()

,0,1,2,3,4,5,6,7
10804,-0.806008,0.116256,-0.894907,2.338685,-0.674870,-0.051664,-0.067753,-0.203532
13984,0.457242,-0.992558,-1.004962,0.078109,0.929858,0.362465,-0.294242,-2.134797
7971,0.935518,-0.721664,-1.303575,-0.363955,-0.109408,0.712367,-0.761316,-0.622926
6177,-0.013829,1.791047,0.056847,-1.783105,-1.334728,-1.066125,-1.355552,-1.154445
10085,0.399478,-0.835677,1.932534,0.237927,0.932897,-0.878966,0.345605,1.828595

In [106]:
#Applying SVM on the training set

clf = svm.SVC()
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [107]:
#Predicting the outputs from the training set and calculating the accuracy

predictions=clf.predict(X_test)
count=0
predictions=np.array(predictions)
y_test=np.array(y_test)
count=sum(y_test==predictions)
accuracy=count/4950*100
print(accuracy)

95.2525252525